@font-face {
  font-family: "iconfont"; /* Project id 3914366 */
  src: url('iconfont.woff2?t=1677210446630') format('woff2'),
       url('iconfont.woff?t=1677210446630') format('woff'),
       url('iconfont.ttf?t=1677210446630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e7c7";
}

.icon-tuijian:before {
  content: "\e7dc";
}

.icon-wangyou:before {
  content: "\e600";
}

.icon-paixingbang:before {
  content: "\e681";
}

.icon-paihangbang:before {
  content: "\e7bc";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-zhibo:before {
  content: "\e67d";
}

.icon-gedan:before {
  content: "\e9f5";
}

.icon-shoucang:before {
  content: "\e6d2";
}

.icon-bofangliebiao:before {
  content: "\e864";
}

.icon-bofangyuan:before {
  content: "\e865";
}

.icon-bofang:before {
  content: "\e866";
}

.icon-icon-4K:before {
  content: "\e867";
}

.icon-changpian:before {
  content: "\e868";
}

.icon-changjiban:before {
  content: "\e869";
}

.icon-danchu:before {
  content: "\e86a";
}

.icon-dianying:before {
  content: "\e86b";
}

.icon-cipianchangpian:before {
  content: "\e86c";
}

.icon-gaopinzhi:before {
  content: "\e86d";
}

.icon-cidai:before {
  content: "\e86e";
}

.icon-fengjing:before {
  content: "\e86f";
}

.icon-daohui:before {
  content: "\e870";
}

.icon-gaoqingxidu:before {
  content: "\e871";
}

.icon-jilupian:before {
  content: "\e872";
}

.icon-kuaijin:before {
  content: "\e874";
}

.icon-huazhonghua:before {
  content: "\e875";
}

.icon-guanbishengyinzhendong:before {
  content: "\e876";
}

.icon-labazhendong:before {
  content: "\e877";
}

.icon-jingyin:before {
  content: "\e878";
}

.icon-houtiao:before {
  content: "\e879";
}

.icon-luxiangshangchuan:before {
  content: "\e87a";
}

.icon-guangbo:before {
  content: "\e87b";
}

.icon-shouyinji:before {
  content: "\e87c";
}

.icon-tongzhi:before {
  content: "\e87d";
}

.icon-pingmugaokuanbi:before {
  content: "\e87e";
}

.icon-maikefeng:before {
  content: "\e87f";
}

.icon-zanting:before {
  content: "\e880";
}

.icon-shexiangji:before {
  content: "\e881";
}

.icon-tingzhi:before {
  content: "\e882";
}

.icon-yinle:before {
  content: "\e883";
}

.icon-pinghengqi:before {
  content: "\e884";
}

.icon-toudaishierji:before {
  content: "\e885";
}

.icon-tuxiangtianjia:before {
  content: "\e886";
}

.icon-tuichuxiaochuang:before {
  content: "\e887";
}

.icon-zengjiayinliang:before {
  content: "\e888";
}

.icon-yingpian:before {
  content: "\e889";
}

.icon-tuxiang:before {
  content: "\e88a";
}

.icon-bofangliebiaotianjia:before {
  content: "\e88c";
}

.icon-shengyinmokuai:before {
  content: "\e88d";
}

.icon-shunxubofang:before {
  content: "\e88e";
}

.icon-zhongfu:before {
  content: "\e88f";
}

