.playlist_info .imgbox {
  float: left;
  width: 10rem;
  margin-right: 1rem;
  background-color: #fff;
}
.playlist_info .imgbox .el-image {
  margin: 8px;
}
.playlist_info .infobox {
  float: left;
  width: 50rem;
  padding: 5px 10px 16px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
.playlist_info .infobox .listname {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 溢出用省略号表示 */
  white-space: nowrap;
  /* 始终保持在一行显示 */
}
.playlist_info .infobox .creator_info {
  height: 42px;
}
.playlist_info .infobox .creator_info .creator_nickname {
  height: 42px;
  display: table-cell;
  vertical-align: middle;
}
.playlist_info .infobox .creator_info .el-image {
  float: left;
  width: 2rem;
  height: 2rem;
  margin: 5px 10px 5px 0;
}
.playlist_info .infobox .tags_box strong {
  float: left;
  margin-right: 5px;
}
.playlist_info .infobox .tags_box .tags {
  float: left;
  margin-right: 10px;
}
.playlist_info .infobox .tags_box .clear {
  clear: both;
}
.playlist_info .infobox .description {
  height: 4rem;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.playlist_info .clear {
  clear: both;
}
.container .table-top {
  padding: 10px 0;
}
.container h3 {
  display: inline;
}
.container .el-table .el-table-column {
  overflow: hidden;
  text-overflow: ellipsis;
  /* 溢出用省略号表示 */
  white-space: nowrap;
  /* 始终保持在一行显示 */
}
.container .bofang-icon {
  width: 2rem;
  cursor: pointer;
}
