.container .table-top {
  padding: 10px 0;
}
.container h3 {
  display: inline;
}
.container .el-row .el-col {
  width: 150px;
  height: 150px;
}
.container .el-row .el-col .imgbox {
  width: 130px;
  height: 130px;
  position: absolute;
}
.container .el-row .el-col .imgbox .el-image {
  cursor: pointer;
  width: 100%;
}
.container .el-row .el-col .imgbox .artistname {
  overflow: hidden;
  text-overflow: ellipsis;
  /* 溢出用省略号表示 */
  white-space: nowrap;
  /* 始终保持在一行显示 */
}
