/* 全局样式表 */
html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;

}
.right{
    float: right;
}
.left{
    float: left;
}
